<%-include('../partials/header.ejs',{title:"admin page",style:'/css/admin.css',bootstrap:'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' })%>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>Footwear</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-xl-3">
						<form>
							<div class="row">
						
								<!-- Sidebar: Filters -->
								<div class="col-lg-3 col-md-4">
									<!-- Brands Section -->
									<div class="side border mb-4">
										<h3>Brand</h3>
										<ul class="list-unstyled">
											<% brands.forEach(brand => { %>
												<li>
													<!-- Hidden checkbox -->
													<input type="checkbox" id="brand_<%= brand.name %>" name="brand" value="<%= brand.name %>" class="custom-checkbox">
													<!-- Custom styled field -->
													<label for="brand_<%= brand.name %>" class="custom-checkbox-field"><%= brand.name %></label>
												</li>
											<% }) %>
										</ul>
									</div>
						
									<!-- Sizes Section -->
									<div class="side border mb-4">
										<h3>Size/Width</h3>
										<div class="block-26 mb-2">
											<h4>Size</h4>
											<ul class="list-unstyled">
												<% sizes.forEach(size => { %>
													<li>
														<input type="checkbox" id="size_<%= size %>" name="size" value="<%= size %>" class="custom-checkbox">
														<label for="size_<%= size %>" class="custom-checkbox-field"><%= size %></label>
													</li>
												<% }) %>
											</ul>
										</div>
									</div>
						
									<!-- Styles Section -->
									<div class="side border mb-4">
										<h3>Style</h3>
										<ul class="list-unstyled">
											<% styles.forEach(style => { %>
												<% if (style.level === 1) { %>
													<li>
														<input type="checkbox" id="style_<%= style.name %>" name="style" value="<%= style.name %>" class="custom-checkbox">
														<label for="style_<%= style.name %>" class="custom-checkbox-field"><%= style.name %></label>
													</li>
												<% } %>
											<% }) %>
										</ul>
									</div>
								</div>
							</div>
							<div>
								<button type="submit">Apply Filter</button>
							</div>
						</form>
					</div>
					 <!-- Main Content: Products -->
					<div class="col-lg-9 col-md-8">
						<div class="row">
							<% if (products.length > 0) { %>
								<% products.forEach(product => { %>
									<div class="col-lg-4 col-md-6 mb-4">
										<div class="product">
											<div class="product-img">
												<img src="<%= product.images[0] %>" class="img-fluid" alt="<%= product.name %>">
											</div>
											<div class="product-details text-center">
												<!-- Hidden checkbox for product -->
												<input type="checkbox" id="product_<%= product._id %>" name="product" value="<%= product._id %>" class="custom-checkbox">
												<!-- Custom styled field -->
												<label for="product_<%= product._id %>" class="custom-checkbox-field"><%= product.name %></label>
												<p class="price">$<%= product.price %></p>
											</div>
										</div>
									</div>
								<% }) %>
							<% } else { %>
								<div class="col-12 text-center">
									<p>No products found for the selected filters.</p>
								</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-partner">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Trusted Partners</h2>
					</div>
				</div>
				<div class="row">
					<div class="col partner-col text-center">
						<img src="images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
				</div>
			</div>
		</div>

<%- include('../partials/footer.ejs')%>